* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

footer,
header,
main {
  display: block;
}

pre {
  margin: 0 0 2em;
  overflow: hidden;
  color: #fff;
  font-family: "Inconsolata", "Courier New", monospace;
  font-size: .75em;
  line-height: 1;
  text-align: center;
  white-space: pre;
}

pre a,
pre a:hover {
  color: #fff;
}

.no-js pre {
  color: #333;
}

h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

::-moz-selection {
  color: #c00;
  background: #9ff;
}

::selection {
  color: #c00;
  background: #9ff;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
h2 {
  font-size: 1em;
  line-height: 1.5;
  text-transform: lowercase;
  font-weight: normal;
}

body {
  max-width: 610px;
  min-height: 100%;

  margin: 0 auto;
  padding: 1.5em 1em;

  font-family: "Inconsolata", "Courier New", monospace;
}

h2 {
  background: #ffc;
}

h2:before {
  content:"_";
}

h2:after {
  content:"_";
}

a {
  color: #03f;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  color: #00f;
  outline: 0;
}

h2,
p,
ul {
  margin: 0 0 1.5em;
}

ul {
  padding: 0;
  list-style: none;
}

li:before {
  content: "* ";
}


@media (max-width: 550px) {
  pre {
    font-size: .5em; /* 8/16 */
    margin: 0 0 3em; /* 24/8 */
  }
}

@media (max-width: 400px) {
  pre {
    font-size: .25em; /* 4/16 */
    margin: 0 0 6em; /* 24/4 */
  }
}
