$base-font-sizes: (
  default: 16px,
  s: 17px,
  m: 18px,
  l: 20px
);
$base-font-color: #222;
$base-font-family: "Inconsolata", "Monaco", monospace;
$base-font-line-height: 1.5;

$link-color: #44f;
$link-color-hover: #00b;
$link-border-opacity: 0.15;
$link-border-opacity-hover: 0.3;
$link-border-thickness-divisor: -3;
$link-box-shadow: ();
$link-box-shadow-hover: ();

@each $key, $val in $base-font-sizes {
  $color: rgba($link-color, $link-border-opacity);
  $offset-y: round($val / $link-border-thickness-divisor);

  $link-box-shadow: map-merge($link-box-shadow, (
    $key: inset $color 0 $offset-y 0
  ));
}

@each $key, $val in $base-font-sizes {
  $color: rgba($link-color-hover, $link-border-opacity-hover);
  $offset-y: round($val / $link-border-thickness-divisor);

  $link-box-shadow-hover: map-merge($link-box-shadow-hover, (
    $key: inset $color 0 $offset-y 0
  ));
}

$paragraph-margin: 1em;
