//
// Component: Glitch
// =============================================================================
$component-name: "Glitch";
$component-base: ".#{$component-name}";

$filter-selector: "#filter-glitch";

#{$component-base} {
  // State: Is Active
  // ---------------------------------------------------------------------------
  &.is-active {
    filter: url("/#{$filter-selector}");
  }
}
