@import "../config/logotype";

//
// Component: Logotype
// =============================================================================
$component-name: "Logotype";
$component-base: ".#{$component-name}";

#{$component-base} {
  display: inline-block;

  user-select: none;

  cursor: pointer;

  // Element: span (non SUIT)
  // ---------------------------------------------------------------------------
  span {
    padding-left: $logotype-character-padding-horizontal;
    padding-right: $logotype-character-padding-horizontal;
    padding-top: $logotype-character-padding-vertical;
    padding-bottom: $logotype-character-padding-vertical;

    transition: color $logotype-transition-duration ease-out, background $logotype-transition-duration ease-out;
  }
}
