extends /layouts/application.pug

block title
  title 404 Not Found › Fred Bergman

block content
  .u-textCenter
    h1.Logotype.js-logotype.js-glitch-trigger <span>4</span><span>0</span><span>4</span>

    p Page not found
    p
      a(href="/") fbergman.se
