extends /layouts/application.pug

block title
  title Fred Bergman › web developer

block content
  h1.Logotype.js-logotype.js-glitch-trigger <span>F</span><span>r</span><span>e</span><span>d</span> <span>B</span><span>e</span><span>r</span><span>g</span><span>m</span><span>a</span><span>n</span>

  p I'm a Stockholm based freelance front-end developer that make websites and web apps.
  p I write structured and maintainable code, enjoy elegant solutions to hard problems and make blazing fast websites.
  p Hire me to improve the internet.

  .InlineList
    h2.InlineList-headline Elsewhere

    ul.InlineList-list
      li.InlineList-item
        a(href="https://github.com/frederfred", target="_blank") GitHub
      li.InlineList-item
        a(href="https://twitter.com/frederfred", target="_blank") Twitter
      li.InlineList-item
        a(href="https://pinboard.in/u:frederfred", target="_blank") Pinboard
      li.InlineList-item
        a(href="https://linkedin.com/in/fredbergman", target="_blank") LinkedIn

  .InlineList
    h2.InlineList-headline Contact

    ul.InlineList-list
      li.InlineList-item
        a(href="mailto:fred@fbergman.se") fred@fbergman.se
      li.InlineList-item +46 70 355 53 22
