h2 Hello!
p
  |
    My name is Fred Bergman and I'm a freelancing front-end developer that
    make websites and webapps.

p
  |
    I write structured and maintainable code, enjoy elegant solutions to
    hard problems and make blazing fast websites.
p
  |
    Hire me to improve the Internet.

